# folder with old and very immature code
old_other/

# folder with frequently changing outputs such as graphics
output/graphics/

# folder with computed raster representations of PDD1
rasters/

src/__pycache__/